# roughly

In [8]:
import pandas as pd
import os
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Loaded data and review content
cars = pd.read_csv('data/CAR DETAILS FROM CAR DEKHO.csv')

print('\nLoaded Data :\n------------------------------------')
cars.head(5)

# Use a Label encoder to convert String to numeric values
# for the target variable

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
cars['owner'] = label_encoder.fit_transform(
                        cars['owner'])

# Convert input to numpy array
np_cars = cars.to_numpy()

# Separate feature and target variables
X = np_cars[:,0:4]
Y = np_cars[:,4]

print('\nFeatures before scaling :\n----------------------------------')
print(X[:5,:])
print('\nTarget before scaling :\n-------------------------------------')
print(Y[:5])

# Create a scaler model that is fit on the input data.

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner

In [9]:
import pandas as pd
pd.read_csv('data/CAR DETAILS FROM CAR DEKHO.csv').head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner